body{
    font: 16px sans-serif;
    
}

.wrapper{
    width: 350px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: burlywood;
}

h1{
    text-align: center;
}

h2{
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
}

p{
    text-align: center;
}

form{
    text-align: center;
}

.form-group{
    margin-bottom: 15px;
    height: 30px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 3px;
}

.button-submit {
  color: #fff;
  background-color: #337ab7;
  border-radius: 15%;
  border: none;
  padding: 6px;
}

.help-block{
    color: red;
}